version: "3.8"

services:
  postgres_dw:
    image: postgres:15
    container_name: postgres_dw
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - postgres_dw_data:/var/lib/postgresql/data

volumes:
  postgres_dw_data:
